<p>This is the login view.</p>
<form name="loginForm" class='animated fadeInDown form-inline' role="form" style='margin-bottom: 15px' ng-submit='login(user)'>
  <div class="form-group">
    <label class='sr-only' for="login">Login</label>
    <input id="login" name="login" type="text" ng-minlength='2' class="form-control" placeholder="Enter Login" ng-model="user.login">
  </div>
  <div class="form-group">
    <label class='sr-only' for="password">Password</label>
    <input id="password" name="password" type="password" class="form-control" placeholder="Enter password" ng-model="user.password">
  </div>
  <button ng-disabled='!loginForm.$valid' class='btn btn-default'>Submit</button>
</form>
